.jf-entry {
   padding: 0 0 0 1em;
   margin: 0 0 1.3em 0;
   border-bottom: 1px solid #eee;
   display: flex;
   flex-wrap: wrap;
}

.jf-info {
   width: 25%;
   box-sizing: border-box;
}

.jf-info-long {
   width: 100%;
}

.jf-furigana {
   min-height: 1.15em;
   box-sizing: border-box;
}

.jf-furigana > span {
   display: inline-block;
   text-align: center;
   min-width: 2.6em;
   line-height: 1em;
}

.jf-furigana > .kana {
   min-width: 0;
   font-size: 1.2em;
}

.jf-info-head-container {
   display: flex;
}

.jf-info-head {
   display: flex;
   flex-direction: column;
   align-items: center;
   gap: 0.5em;
}

.jf-chars {
   box-sizing: border-box;
   margin-bottom: 0.5em;
   font-size: 2.7em;
   line-height: 1.1em;
   word-break: keep-all;
}
.jf-content-dark .jf-chars {
   color: #fff !important;
}

.jf-other-info {
   display: flex;
   flex-direction: column;
   align-items: flex-start;
   text-align: center;
   margin-top: 1em;
   margin-bottom: 1em;
   gap: 0.5em;
   color: #fff !important;
}

.jf-content-dark .jf-other-info {
   color: #000 !important;
}

#jframe .jf-other-info a {
   color: inherit;
}

#jframe .jf-other-info a span {
   padding: 0.1em 0.5em;
}

.jf-other-info span {
   padding: 0.1em 0.5em;
}

.jf-is-common {
   background: #8abc83;
   border-radius: 5px;
}

.jf-level-tag {
   background: #909dc0;
   border-radius: 5px;
}

.jf-defs {
   display: inline-block;
   width: 75%;
   padding: 0 0.2em;
   font-size: 1.2em;
   line-height: 1.5em;
   margin-bottom: 1em;
   box-sizing: border-box;
}

.jf-def {
   max-width: 75%;
}

.jf-defs-long {
   width: 100%;
   padding-left: calc(25% + 0.2em);
}

.jf-def-num {
   color: #999;
   line-height: 1.5em;
   margin-right: 0.3em;
   position: relative;
   height: 100%;
   font-size: 1.25em;
}

.jf-def-text {
   font-size: 1.3em;
}

.jf-def-abs {
   font-size: 1.1em;
   color: #666 !important;
   margin-left: 0.5em;
}

.jf-def-supp {
   font-size: 1.1em;
   color: #999 !important;
   margin-left: 0.5em;
}

.jf-def-notes {
   font-size: 1.1em;
}

.jf-tag {
   color: #888 !important;
   font-size: 1em;
   margin-top: 0.65em;
   font-weight: bold;
}

.jf-forms {
   font-size: 1.2em;
}