#jframe {
   position: absolute;
   left: 50%;
   z-index: 99999;
   box-shadow: 0px 0px 5px;
   border-radius: 5px;
}

#content {
   
}

#results {
   margin-top: .5em;
}

.entry {
   padding: 0;
   margin: 0 0 20px 0;
   border-bottom: 1px solid #eee;
}

.left {

}

.furigana {

}

.chars {

}

.right {

}

.category-tag {

}

.definitions {

}

.def {

}

.forms-tag {

}

.forms {

}


