#jframe {
   position: absolute;
   left: 50%;
   z-index: 99999;
   box-shadow: 0px 0px 5px;
   border-radius: 5px;
   background: #fff;
   color: #222;
   font-style: normal;
   font-weight: normal;
   line-height: 1.5;
   margin: 0;
   padding: 0;
   resize: both;
   overflow: auto;
   text-align: left;
}

#jf-content {
   margin: 0 auto;
   max-width: 62.5rem;
   width: 100%;
   font-family: Helvetica, Arial, sans-serif;
}

#jf-content > h4 {
   padding-left: 12px;
   margin-bottom: 0.5rem;
   margin-top: 0.2rem;
   line-height: 1.4;
   font-size: 23px;
   font-weight: bold;
   color: #222;
}

#jf-content > h4 > span {
   font-weight: normal;
   font-size: 18px;
   color: #666;
}

#jf-form {
   background-color: #ddd;
   border-radius: 5px;
   padding: 4px;
   width: 100%;
}

#jf-form-inner {
   width: 100%;
   border-radius: 2px;
   background: #fff;
   padding: 4px;
   display: flex;
   align-items: center;
   box-sizing: border-box;
}

#jf-searchbar {
   position: relative;
   color: rgb(0, 0, 0, 0.75);
   margin: 0;
   padding: 3px 0 3px 10px;
   font-size: 22px;
   height: 34px;
   box-shadow: none !important;
   border: none !important;
   background: none !important;
   outline: none !important;
   flex: 1;
}


#jf-submit-btn {
   float: right;
   margin: 0;
   padding: 7px 6px 4px 8px;
   border: none;
   background: #eee;
   font-weight: normal;
   color: #555;
   border-radius: 0 1px 1px 0;
}

#jf-submit-btn > div {
   font-size: 24px;
   line-height: 1em;;
}

#jf-results {
   margin-top: .5em;
}


.jf-entry {
   padding: 0 0 0 12px;
   margin: 0 0 20px 0;
   border-bottom: 1px solid #eee;
}

.jf-info {
   width: 25%;
   font-size: 24px;
   float: left;
   box-sizing: border-box;
}

.jf-info-long {
   width: 100%;
}

.jf-furigana {
   font-size: 14px;
   min-height: 1.15em;
   box-sizing: border-box;
}

.jf-furigana > span {
   display: inline-block;
   text-align: center;
   min-width: 2em;
   line-height: 1.15;
}

.jf-furigana > .kana {
   min-width: 2.25em;
}

.jf-chars {
   box-sizing: border-box;
   margin-bottom: 10px;
   font-size: 31px;
   line-height: 1.1;
}

.jf-defs {
   display: inline-block;
   width: 75%;
   padding: 0 0.46875rem;
   font-size: 16px;
   line-height: 1.5;
   margin-bottom: 10px;
   box-sizing: border-box;
}

.jf-defs-long {
   padding-left: calc(25% + .46875rem);
}

.jf-def-num {
   color: #999;
   line-height: 30px;
   margin-right: 5px;
   position: relative;
   height: 100%;
   font-size: 16px;
}

.jf-def-text {
   font-size: 19px;
}

.jf-def-abs {
   font-size: 14px;
   color: #666;
   margin-left: 8px;
}

.jf-def-supp {
   font-size: 14px;
   color: #999;
   margin-left: 8px;
}

.jf-def-notes {
   font-size: 14px;
}

.jf-tag {
   color: #888;
   font-size: 13px;
   margin-top: 10px;
   font-weight: bold;
}

.jf-forms {
   font-size: 19px;
}


