#jframe {
   position: fixed;
   top:0;
   z-index: 2147483647;
}

#jframe a {
   color: #4A80B5;
}

#jframe a:hover {
   color: #000;
   cursor: pointer;
}

.drag-handle {
   background-color: #69D838;
   height: 1.2em;
   position: sticky;
   top: 0;
   cursor: move;
   z-index: 2;
}

#jf-content {
   font-family: Helvetica, Arial, sans-serif !important;
   position: absolute;
   box-shadow: 0px 0px 5px;
   border-radius: 5px;
   background: #fff;
   color: #222;
   font-style: normal !important;
   font-weight: normal !important;
   font-size: 13px;
   line-height: 1.5em;
   margin: 0;
   padding: 0;
   resize: both;
   overflow: auto;
   text-align: left;
   min-width: 100px;
   min-height: 100px;
}

#jf-content > h4 {
   padding-left: 0.6em;
   margin-bottom: 0.25em;
   margin-top: 0.2em;
   line-height: 1.4em;
   font-size: 1.4em;
   font-weight: bold;
   color: #222;
   display: flex;
}

#jf-content > h4 > span {
   font-weight: normal;
   font-size: 0.9em;
   color: #666;
   margin-left: 0.4em;
   width: 30%;
}

#jf-content h4 .credits {
   margin: 0 0.6em 0 0;
   font-size: inherit;
   font-weight: 400;
   width: 100%;
   text-align: left;
}

#jf-form {
   background-color: #ddd;
   border-radius: 5px;
   padding: 0.3em;
   width: 100%;
   box-sizing: border-box;
   position: sticky;
   top: 1.2em;
   z-index: 99999;
   margin: 0;
}

#jf-form-inner {
   width: 100%;
   border-radius: 2px;
   background: #fff;
   display: flex;
   align-items: center;
   box-sizing: border-box;
}

#jf-searchbar {
   position: relative;
   color: rgb(0, 0, 0, 0.75);
   margin: 0;
   padding: 0.3em 0 0.3em 0.6em;
   font-size: 1.6em;
   box-shadow: none !important;
   border: none !important;
   background: none !important;
   outline: none !important;
   flex: 1;
}

#jf-searchbar::placeholder {
   text-transform: none;
}


#jf-submit-btn {
   margin: 0;
   box-sizing:border-box;
   height: 100%;
   padding: 0.7em 0.6em 0.4em 0.8em;
   border: none;
   background: #eee;
   font-weight: normal;
   color: #555;
   border-radius: 0 1px 1px 0;
   cursor: pointer;
}

#jf-submit-btn > div {
   font-size: 2.4em;
   line-height: 1em;
   font-family: Helvetica, Arial, sans-serif;
}

#jf-results {
   margin-top: 0.4em;
}

#jf-no-results {
   font-size: 1.6em;
   margin: 0.6em 0 0 0.6em;
}

#jf-no-match {
   font-size: 1.25em;
   margin-left: 0.5em;
}

#jf-more-words {
   font-size: 1.25em;
   padding: 0 0 1em 1em;
}

.credits {
   font-size: 1.25em;
   text-align: center;
}

#jf-more-words > div {
   display: flex;
   justify-content: space-between;
}

/* Loading Spinner CSS */
.lds-ring {
   display: inline-block;
   position: relative;
   width: 3.5em;
   height: 3.5em;
   margin-right: 1.75em;
 }
 .lds-ring div {
   box-sizing: border-box;
   display: block;
   position: absolute;
   width: 80%;
   height: 80%;
   margin: 10%;
   border: 8px solid #69D838;
   border-radius: 50%;
   animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
   border-color: #69D838 transparent transparent transparent;
 }
 .lds-ring div:nth-child(1) {
   animation-delay: -0.45s;
 }
 .lds-ring div:nth-child(2) {
   animation-delay: -0.3s;
 }
 .lds-ring div:nth-child(3) {
   animation-delay: -0.15s;
 }
 @keyframes lds-ring {
   0% {
     transform: rotate(0deg);
   }
   100% {
     transform: rotate(360deg);
   }
 }


